<p id="notice"><%= notice %></p>

<h1>Listing Datapoints</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th>Interval</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @datapoints.each do |datapoint| %>
      <tr>
        <td><%= datapoint.value %></td>
        <td><%= datapoint.interval %></td>
        <td><%= link_to 'Show', datapoint %></td>
        <td><%= link_to 'Edit', edit_datapoint_path(datapoint) %></td>
        <td><%= link_to 'Destroy', datapoint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Datapoint', new_datapoint_path %>
